$vw_base: 750;
@function vw($px) {
  @return ($px / 1024) * 100vw;
}
@function vh($px) {
  @return ($px / 527) * 100vh;
}

html, body {
  min-height: 100%;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clearfloat {
  zoom: 1
}
*{
  box-sizing: border-box;
}
