@function vw($px) {
  @return ($px / 1024) * 1024px
}
@function vh($px) {
  @return ($px / 600) * 600px;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clearfloat {
  zoom: 1
}
*{
  box-sizing: border-box;
}
p{
  word-break: break-all;
}
