@import "index";
body{
  .wrap{
    padding: vw(34) vw(47) 0 0;
    .leftImg{
      width: vw(434);
      height: vw(421);
      line-height: vw(421);
      text-align: center;
      display: block;
      position: fixed;
      top: vw(21);
      left: vw(40);
      img{
        max-width: 100%;
        //vertical-align: middle;
      }
    }
    .info{
      float: right;
      width: vw(462);
      p{
        font-size: vw(20);
        line-height: vw(38);
        text-indent: 2em;
        color: #323232;
        margin-top:vw(25);
        word-break: break-all;
      }
      h2{
        font-size: 24px;
        line-height: 38px;
        font-weight: 500;
      }
      h1.title{
        font-size: 26px;
        text-indent: 0;
        color: #8B8B8B;
        font-weight: 500;
        padding-bottom: 20px;
        margin-bottom: 27px;
        border-bottom: 1px solid #E8E8E8;
      }
    }
  }
}