@import "index";
body{
  .wrap{
    padding: vw(20) vw(36);
    img{
      width: vw(291);
      height: vw(215);
      display: block;
      position: fixed;
      top: 0;
      left: 0;
    }
    .info{
      float: right;
      width: vw(442);
      p{
        font-size: vw(20);
        line-height: vw(38);
        text-indent: 2em;
        color: #323232;
        margin-top:vw(25);
        word-break: break-all;
      }
      h2{
        font-size: 24px;
        line-height: 38px;
        font-weight: 500;
      }
      h1.title{
        font-size: 26px;
        text-indent: 0;
        color: #8B8B8B;
        font-weight: 500;
        padding-bottom: 20px;
        margin-bottom: 27px;
        border-bottom: 1px solid #E8E8E8;
      }
    }
  }
}