@import "index";
body{
  .wrap{
    padding: vw(20) vw(36);
    img{
      width: vw(434);
      height: vw(421);
      display: block;
      position: fixed;
      top: vw(21);
      left: vw(36);
    }
    .info{
      float: right;
      width: vw(485);
      p{
        font-size: vw(20);
        line-height: vw(42);
        text-indent: 2em;
        color: #323232;
      }
      p.title{
        font-size: vw(24);
        text-indent: 0;
        color: #262932;
      }
    }
  }
}