@import "index";
body div{
  padding: vw(82) vw(79) 0 vw(72);
  img{
    display: block;
    width: 100%;
  }
  h1{
    font-size: vw(40);
    margin: vw(30) auto vw(37);
    text-align: center;
  }
  p{
    font-size: vw(34);
    line-height: vw(48);
  }
}