.clearfloat {
    zoom: 1;
}

* {
    box-sizing: border-box;
}

body .wrap {
    padding: 20px 36px 0;
}
body .wrap .info p {
    font-size: 20px;
    line-height: 34px;
    color: #323232;
}
body .wrap .info p.title {
    font-size: 29px;
    text-indent: 0;
    color: #262932;
    margin-bottom: 30px;
}
